#board {
  border:solid 1px red;
  display: inline-block;
}

.row {
  width: 800px;
  height: 150px;
  clear:left;
  /*margin-bottom: 5px;*/
  /*display: table-row;*/
}

.cell {
  /*position: relative;*/
  width: 19%;
  height: 150px;
  border: solid 1px black;
  float:left;
  margin-right: 5px;
  margin-bottom:5px;
  /*display: inline-block;*/
  /*display: table-cell;*/
  font-size:125%;
  font-family: sans-serif;
  text-align: center;
}

.cell span{ 
}

.button{
  display: inline-block;
  border: solid 1px black;
}