#board {
  border:solid 1px black;
  /*display: table;*/
}

.row {
  width: 800px;
  height: 150px;
  clear:left;
  /*margin-bottom: 5px;*/
  /*display: table-row;*/
}

.cell {
  /*position: relative;*/
  width: 19%;
  height: 150px;
  border: solid 1px black;
  float:left;
  /*margin-right: 5px;*/
  /*display: inline-block;*/
  /*display: table-cell;*/
  font-size:12px;
}

.button{
  display: inline-block;
  border: solid 1px black;
}